Repository mokksy/mokksy: changes, and which Codecov flags are due for each by the changed paths.
All: Mokksy (HTTP Mock Server), Integration Tests

codecov.yml:

# Codecov configuration for Mokksy and AI-Mocks
# https://docs.codecov.com/docs/codecov-yaml

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 1%

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: mokksy
      name: Mokksy (HTTP Mock Server)
      paths:
        - mokksy/**
    - component_id: integration-tests
      name: Integration Tests
      paths:
        - integration-tests/**

docs: add code examples to Java-friendly builders and annotations
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/Annotations.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/response/ResponseDefinitionBuilders.kt
  mokksy/src/webMain/kotlin/dev/mokksy/mokksy/Mokksy.web.kt
Due: Mokksy (HTTP Mock Server)

refactor: simplify `registerShutdownHook` by removing unnecessary coroutines
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/ShutdownHook.jvm.kt
Due: Mokksy (HTTP Mock Server)

test: refactor `resetMatchState` test to use fresh `Mokksy` instance
  integration-tests/src/jvmTest/java/dev/mokksy/it/MokksyJavaIT.java
Due: Integration Tests

docs: update `README.md` with Java examples and formatting fixes
  README.md
Due: none

Update codecov.yml
  codecov.yml
Due: none

refactor: improve code documentation, update tests, and fix configuration settings
  README.md
  codecov.yml
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/Annotations.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/JavaRequestSpecificationBuilder.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/JavaBuildingStepTest.kt
Due: Mokksy (HTTP Mock Server)

docs: fix formatting issues in `Mokksy.web.kt` and update `README.md` examples
  README.md
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/JavaBuildingStepTest.kt
  mokksy/src/webMain/kotlin/dev/mokksy/mokksy/Mokksy.web.kt
Due: Mokksy (HTTP Mock Server)

refactor: simplify `bodyMatchesPredicate` API and remove redundant doc comments
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/JavaRequestSpecificationBuilder.kt
  mokksy/src/webMain/kotlin/dev/mokksy/mokksy/Mokksy.web.kt
Due: Mokksy (HTTP Mock Server)

feat: add Ktor extension functions and integration tests
  gradle/libs.versions.toml
  integration-tests/build.gradle.kts
  integration-tests/src/jvmTest/kotlin/dev/mokksy/it/MokksyKtorExtensionsIT.kt
  mokksy/api/mokksy.api
  mokksy/api/mokksy.klib.api
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/KtorExtensions.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/MokksyServer.kt
Due: Mokksy (HTTP Mock Server), Integration Tests

refactor: extract `MokksyPlugin` from `MokksyServer` to simplify extension points
  build.gradle.kts
  mokksy/api/mokksy.api
  mokksy/api/mokksy.klib.api
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/BuildingStep.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/KtorExtensions.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/MokksyPlugin.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/MokksyServer.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/RequestHandler.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/Stub.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/BuildingStepTest.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/JavaBuildingStepTest.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/StubComparatorTest.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/StubRegistryStressTest.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/StubRegistryTest.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/TestHelpers.kt
Due: Mokksy (HTTP Mock Server)

feat: add SSE, DoubleReceive, and ContentNegotiation plugins to integration tests
  integration-tests/build.gradle.kts
  integration-tests/src/jvmTest/kotlin/dev/mokksy/it/MokksyKtorExtensionsIT.kt
Due: Integration Tests

feat: add overloaded `Mokksy` constructors and annotations for platform support
  mokksy/api/mokksy.api
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/Mokksy.jvm.kt
  mokksy/src/nativeMain/kotlin/dev/mokksy/mokksy/Mokksy.native.kt
  mokksy/src/webMain/kotlin/dev/mokksy/mokksy/Mokksy.web.kt
Due: Mokksy (HTTP Mock Server)

refactor: replace `MokksyPlugin` with `MokksyHandler` for improved clarity and flexibility
  README.md
  mokksy/api/mokksy.api
  mokksy/api/mokksy.klib.api
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/KtorExtensions.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/MokksyHandler.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/MokksyServer.kt
Due: Mokksy (HTTP Mock Server)

refactor: apply consistent naming and annotations across core classes
  mokksy/api/mokksy.api
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/KtorExtensions.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/kotest/Matchers.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/RecordedRequest.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/RequestMatchers.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/utils/Base64Urls.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/utils/Strings.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/Mokksy.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/MokksyJackson.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/utils/Base64Urls.jvm.kt
Due: Mokksy (HTTP Mock Server)

refactor: move `configuration` initialization to constructor in `MokksyServer`
  build.gradle.kts
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/MokksyHandler.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/MokksyServer.kt
Due: Mokksy (HTTP Mock Server)

update: refine integration test dependencies
  integration-tests/build.gradle.kts
Due: Integration Tests

fix: prevent duplicate plugin installation in `KtorExtensions`
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/KtorExtensions.kt
Due: Mokksy (HTTP Mock Server)

feat!: #37 Ktor extension functions for embedding Mokksy into existing applications (#50)
  README.md
  gradle/libs.versions.toml
  integration-tests/build.gradle.kts
  integration-tests/src/jvmTest/kotlin/dev/mokksy/it/MokksyKtorExtensionsIT.kt
  mokksy/api/mokksy.api
  mokksy/api/mokksy.klib.api
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/BuildingStep.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/KtorExtensions.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/MokksyHandler.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/MokksyServer.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/RequestHandler.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/Stub.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/kotest/Matchers.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/RecordedRequest.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/RequestMatchers.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/utils/Base64Urls.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/utils/Strings.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/Mokksy.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/MokksyJackson.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/Mokksy.jvm.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/utils/Base64Urls.jvm.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/BuildingStepTest.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/JavaBuildingStepTest.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/StubComparatorTest.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/StubRegistryStressTest.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/StubRegistryTest.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/TestHelpers.kt
  mokksy/src/nativeMain/kotlin/dev/mokksy/mokksy/Mokksy.native.kt
  mokksy/src/webMain/kotlin/dev/mokksy/mokksy/Mokksy.web.kt
Due: Mokksy (HTTP Mock Server), Integration Tests

feat: #52 - add Java-friendly streaming response builder and enhance delay, chunk, and content-type configuration
  integration-tests/build.gradle.kts
  integration-tests/src/jvmTest/java/dev/mokksy/it/MokksyJavaIT.java
  integration-tests/src/jvmTest/java/dev/mokksy/it/StreamingJavaIT.java
  integration-tests/src/jvmTest/kotlin/dev/mokksy/it/TimingAssertions.kt
  mokksy/api/mokksy.api
  mokksy/api/mokksy.klib.api
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/response/ResponseDefinitionBuilders.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/JavaBuildingStep.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/JavaStreamingResponseDefinitionBuilder.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/JavaBuildingStepTest.kt
Due: Mokksy (HTTP Mock Server), Integration Tests

docs: add streaming responses section to README
  README.md
Due: none

feat: implement lazy streaming and improve Java integration
  README.md
  integration-tests/src/jvmTest/java/dev/mokksy/it/StreamingJavaIT.java
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/JavaBuildingStep.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/JavaStreamingResponseDefinitionBuilder.kt
Due: Mokksy (HTTP Mock Server), Integration Tests

test: add unit tests for `JavaStreamingResponseDefinitionBuilder`
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/JavaStreamingResponseDefinitionBuilderTest.kt
Due: Mokksy (HTTP Mock Server)

fix: correct body delegation in `JavaResponseDefinitionBuilder` and update related tests
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/JavaResponseDefinitionBuilder.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/JavaResponseDefinitionBuilderTest.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/JavaStreamingResponseDefinitionBuilderTest.kt
Due: Mokksy (HTTP Mock Server)

refactor!: overhaul response/streaming builder API
  integration-tests/src/jvmTest/kotlin/dev/mokksy/it/MokksyKtorExtensionsIT.kt
  mokksy/api/mokksy.api
  mokksy/api/mokksy.klib.api
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/BuildingStep.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/response/ResponseDefinitionBuilders.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/response/SseStreamResponseDefinition.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/response/StreamResponseDefinition.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/JavaResponseDefinitionBuilder.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/JavaStreamingResponseDefinitionBuilder.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/JavaBuildingStepTest.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/JavaResponseDefinitionBuilderTest.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/MokksyStreamingIT.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/RespondsWithStatusIT.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/StubPriorityIT.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/response/AbstractResponseDefinitionBuilderTest.kt
Due: Mokksy (HTTP Mock Server), Integration Tests

refactor!: mark internal APIs across response builders and request types
  mokksy/api/mokksy.api
  mokksy/api/mokksy.klib.api
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/StubRegistry.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/RecordedRequest.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/response/ResponseDefinition.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/response/ResponseDefinitionBuilders.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/response/SseStreamResponseDefinition.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/response/StreamResponseDefinition.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/utils/highlight/FormParamsHighlighter.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/utils/highlight/Highlighting.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/utils/highlight/JsonHighlighter.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/utils/logger/HttpFormatter.kt
  mokksy/src/commonTest/kotlin/dev/mokksy/mokksy/utils/highlight/HighlightingTest.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/JavaBuildingStepTest.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/JavaStreamingResponseDefinitionBuilderTest.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/response/AbstractResponseDefinitionBuilderTest.kt
Due: Mokksy (HTTP Mock Server)

feat: restore KClass verb shortcuts and reified extensions for MokksyServer
  gradle.properties
  mokksy/api/mokksy.api
  mokksy/api/mokksy.klib.api
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/MokksyServer.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/MokksyServerExtensions.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/BodyMatchingIT.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/MokksyServerIT.kt
Due: Mokksy (HTTP Mock Server)

add: new project icon file (.idea/icon.png)
  .idea/icon.png
Due: none

feat: introduce `respondsWithStatus` for status-only responses and add related tests
  AGENTS.md
  build.gradle.kts
  integration-tests/src/commonTest/kotlin/dev/mokksy/it/MokksyIT.kt
  integration-tests/src/jvmTest/java/dev/mokksy/it/MokksyJavaIT.java
  mokksy/api/mokksy.api
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/JavaBuildingStep.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/BodyMatchingIT.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/BuildingStepTest.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/JavaBuildingStepTest.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/MokksyStreamingIT.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/ShortcutMethodsIT.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/response/AbstractResponseDefinitionBuilderTest.kt
Due: Mokksy (HTTP Mock Server), Integration Tests

test: add unit tests for `MimeTypes`, `Strings`, and `Base64Urls` utilities
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/utils/Base64UrlsTest.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/utils/MimeTypesTest.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/utils/StringsTest.kt
Due: Mokksy (HTTP Mock Server)

docs: add examples for `status-only responses` and `typed body matching`
  README.md
  build.gradle.kts
Due: none

fix(test): Remove MokksyServerJavaTest and update JavaResponseDefinitionBuilder and MokksyJavaIT tests
  integration-tests/src/jvmTest/java/dev/mokksy/it/MokksyJavaIT.java
  mokksy/api/mokksy.api
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/JavaResponseDefinitionBuilder.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/JavaResponseDefinitionBuilderTest.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/MokksyServerJavaTest.kt
Due: Mokksy (HTTP Mock Server), Integration Tests

doc: Enhance KDoc comments and update tests
  integration-tests/src/commonTest/kotlin/dev/mokksy/it/MokksyIT.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/MokksyServer.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/MokksyServerExtensions.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/JavaBuildingStep.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/JavaBuildingStepTest.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/utils/Base64UrlsTest.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/utils/StringsTest.kt
Due: Mokksy (HTTP Mock Server), Integration Tests

test: Expand TypesafeMethodsIT with reified method tests, update Readme
  Makefile
  README.md
  detekt.yml
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/BuildingStep.kt
  mokksy/src/commonTest/kotlin/dev/mokksy/mokksy/Clients.kt
  mokksy/src/commonTest/kotlin/dev/mokksy/mokksy/TestTypes.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/AbstractIT.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/TypesafeMethodsIT.kt
Due: Mokksy (HTTP Mock Server)

refactor: update startSuspend and awaitStarted return types
  mokksy/api/mokksy.klib.api
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/MokksyServer.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/MokksyServerExtensions.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/Mokksy.kt
Due: Mokksy (HTTP Mock Server)

doc: Update README to enhance typed request body section and clarify examples
  README.md
Due: none

fix(test): parametrize URLs in TypesafeMethodsIT tests
  mokksy/src/commonTest/kotlin/dev/mokksy/mokksy/Clients.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/TypesafeMethodsIT.kt
Due: Mokksy (HTTP Mock Server)
