Repository mokksy/mokksy: changes, and which Codecov flags are due for each by the changed paths.
All: Mokksy (HTTP Mock Server), Integration Tests

feat: Improve SSE compliance by adding blank line termination to events
  README.md
  integration-tests/src/jvmTest/java/dev/mokksy/it/SseStreamingJavaIT.java
  mokksy/api/mokksy.api
  mokksy/api/mokksy.klib.api
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/response/StreamResponseDefinition.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/MokksySseIT.kt
Due: Mokksy (HTTP Mock Server), Integration Tests

refactor: centralize and simplify streaming response logic
  README.md
  mokksy/api/mokksy.api
  mokksy/api/mokksy.klib.api
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/BuildingStep.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/response/ResponseDefinitionBuilders.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/response/SseStreamResponseDefinition.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/response/SseStreamingResponseDefinitionBuilder.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/response/StreamResponseDefinition.kt
Due: Mokksy (HTTP Mock Server)

Update mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/response/SseStreamResponseDefinition.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/response/SseStreamResponseDefinition.kt
Due: Mokksy (HTTP Mock Server)

fix: Improve SSE compliance by adding blank line termination to events (#104)
  README.md
  integration-tests/src/jvmTest/java/dev/mokksy/it/SseStreamingJavaIT.java
  mokksy/api/mokksy.api
  mokksy/api/mokksy.klib.api
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/BuildingStep.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/response/ResponseDefinitionBuilders.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/response/SseStreamResponseDefinition.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/response/SseStreamingResponseDefinitionBuilder.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/response/StreamResponseDefinition.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/MokksySseIT.kt
Due: Mokksy (HTTP Mock Server), Integration Tests

Release version 0.9.1
  gradle.properties
Due: none

Bump version to 0.9.2-SNAPSHOT for ongoing development
  gradle.properties
Due: none

Add external documentation link for Mokksy in Dokka configuration
  buildSrc/src/main/kotlin/dokka-convention.gradle.kts
Due: none

update readme
  README.md
Due: none

Revert `httpStatusCode` field and related methods for integer-based HTTP status management
  mokksy/api/mokksy.api
  mokksy/api/mokksy.klib.api
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/BuildingStep.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/response/ResponseDefinitionBuilders.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/response/AbstractResponseDefinitionBuilderTest.kt
Due: Mokksy (HTTP Mock Server)

Add secondary constructor to StubConfiguration.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/StubConfiguration.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/StubConfigurationTest.kt
Due: Mokksy (HTTP Mock Server)

Update readme example
  .gitignore
  README.md
Due: none

feat: Add file-based YAML configuration for mock stubs (#122) (#123)
  Makefile
  gradle/libs.versions.toml
  integration-tests/src/jvmTest/java/dev/mokksy/it/MokksyJavaFileConfigIT.java
  integration-tests/src/jvmTest/resources/it-stubs.yaml
  mokksy/api/mokksy.api
  mokksy/build.gradle.kts
  mokksy/src/jvmMain/kotlin/dev/mokksy/Mokksy.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/MokksyFileConfigExtensions.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/config/MokksyFileConfig.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/config/StubConfigLoader.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/config/MokksyFileConfigTest.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/config/StubFileConfigIT.kt
  mokksy/src/jvmTest/resources/test-stubs.yaml
Due: Mokksy (HTTP Mock Server), Integration Tests

feat: Add Docker image build on assemble with packaged dependencies (#124)
  .github/workflows/gradle.yml
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/docker-convention.gradle.kts
  gradle.properties
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.properties
  integration-tests/build.gradle.kts
  integration-tests/src/jvmTest/java/dev/mokksy/it/AbstractFileConfigIT.java
  integration-tests/src/jvmTest/java/dev/mokksy/it/DockerJavaIT.java
  integration-tests/src/jvmTest/kotlin/dev/mokksy/it/DockerIT.kt
  mokksy/Dockerfile
  mokksy/api/mokksy.api
  mokksy/build.gradle.kts
  mokksy/src/jvmMain/kotlin/dev/mokksy/Main.kt
Due: Mokksy (HTTP Mock Server), Integration Tests

Autoload stub configuration on JVM
  mokksy/src/jvmMain/kotlin/dev/mokksy/Main.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/Mokksy.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/MokksyServer.jvm.kt
Due: Mokksy (HTTP Mock Server)

update docker convention
  buildSrc/src/main/kotlin/docker-convention.gradle.kts
Due: none

refactor startup
  buildSrc/src/main/kotlin/docker-convention.gradle.kts
  integration-tests/src/jvmTest/java/dev/mokksy/it/AbstractFileConfigIT.java
  integration-tests/src/jvmTest/java/dev/mokksy/it/DockerJavaIT.java
  integration-tests/src/jvmTest/java/dev/mokksy/it/MokksyJavaFileConfigIT.java
  mokksy/Dockerfile
  mokksy/build.gradle.kts
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/MokksyFileConfigExtensions.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/config/StubFileConfigIT.kt
Due: Mokksy (HTTP Mock Server), Integration Tests

feat: Add Docker image build on assemble with packaged dependencies (#124) (#125)
  .github/workflows/gradle.yml
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/docker-convention.gradle.kts
  gradle.properties
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.properties
  integration-tests/build.gradle.kts
  integration-tests/src/jvmTest/java/dev/mokksy/it/AbstractFileConfigIT.java
  integration-tests/src/jvmTest/java/dev/mokksy/it/DockerJavaIT.java
  integration-tests/src/jvmTest/kotlin/dev/mokksy/it/DockerIT.kt
  mokksy/Dockerfile
  mokksy/api/mokksy.api
  mokksy/build.gradle.kts
  mokksy/src/jvmMain/kotlin/dev/mokksy/Main.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/Mokksy.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/MokksyFileConfigExtensions.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/MokksyServer.jvm.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/config/StubFileConfigIT.kt
Due: Mokksy (HTTP Mock Server), Integration Tests

fix: gradlew clean and run docs workflow
  .github/workflows/docs.yaml
  .github/workflows/gradle.yml
  buildSrc/src/main/kotlin/docker-convention.gradle.kts
Due: none

fix: gradlew clean and run docs workflow (#126)
  .github/workflows/docs.yaml
  .github/workflows/gradle.yml
  buildSrc/src/main/kotlin/docker-convention.gradle.kts
Due: none

fix dokka-convention.gradle.kts
  buildSrc/src/main/kotlin/dokka-convention.gradle.kts
Due: none

Improve predicate tests
  buildSrc/src/main/kotlin/kotlin-multiplatform-convention.gradle.kts
  integration-tests/src/jvmTest/java/dev/mokksy/it/DockerJavaIT.java
  mokksy/src/commonTest/kotlin/dev/mokksy/mokksy/TestTypes.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/BodyMatchingIT.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/request/RequestMatchersKtTest.kt
Due: Mokksy (HTTP Mock Server), Integration Tests

feat(test): Improve predicate tests (#140)
  buildSrc/src/main/kotlin/kotlin-multiplatform-convention.gradle.kts
  integration-tests/src/jvmTest/java/dev/mokksy/it/DockerJavaIT.java
  mokksy/src/commonTest/kotlin/dev/mokksy/mokksy/TestTypes.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/BodyMatchingIT.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/request/RequestMatchersKtTest.kt
Due: Mokksy (HTTP Mock Server), Integration Tests

feat: Add multipart/form-data request body matching with Java API
  mokksy/api/mokksy.api
  mokksy/api/mokksy.klib.api
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/FormData.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/RequestSpecification.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/RequestSpecificationMatching.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/JavaFormDataBuilders.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/JavaRequestSpecificationBuilder.kt
  mokksy/src/jvmTest/java/dev/mokksy/mokksy/FormDataMatchingJavaIT.java
  mokksy/src/jvmTest/java/dev/mokksy/mokksy/MokksyServerJavaLifecycleIT.java
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/FormDataMatchingIT.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/JavaFormDataBuildersTest.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/MokksyServerJavaLifecycleIT.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/request/FormDataBuildersTest.kt
Due: Mokksy (HTTP Mock Server)

Update build scripts
  AGENTS.md
  build.gradle.kts
  buildSrc/src/main/kotlin/kotlin-multiplatform-convention.gradle.kts
Due: none

kdoc
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/RequestSpecification.kt
Due: Mokksy (HTTP Mock Server)

add tests
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/FormDataMatchingIT.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/JavaFormDataBuildersTest.kt
Due: Mokksy (HTTP Mock Server)

refactor: replace bodyString with overloaded body() in Java API
  mokksy/api/mokksy.api
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/JavaRequestSpecificationBuilder.kt
  mokksy/src/jvmTest/java/dev/mokksy/mokksy/FormDataMatchingJavaIT.java
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/JavaRequestSpecificationBuilderTest.kt
Due: Mokksy (HTTP Mock Server)

test: split FormDataMatchingIT into 3 files, deduplicate, unique response bodies
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/FormDataFieldMatchingIT.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/FormDataFileMatchingIT.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/FormDataMatchingIT.kt
Due: Mokksy (HTTP Mock Server)

fix: address review findings — append body matchers, parse Content-Type, dispose parts, use beEqual, fix lifecycle tests
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/FormData.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/JavaFormDataBuilders.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/JavaRequestSpecificationBuilder.kt
  mokksy/src/jvmTest/java/dev/mokksy/mokksy/MokksyServerJavaLifecycleIT.java
Due: Mokksy (HTTP Mock Server)

feat: Support multipart/form-data (#136) (#141)
  AGENTS.md
  build.gradle.kts
  buildSrc/src/main/kotlin/kotlin-multiplatform-convention.gradle.kts
  mokksy/api/mokksy.api
  mokksy/api/mokksy.klib.api
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/FormData.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/RequestSpecification.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/RequestSpecificationMatching.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/JavaFormDataBuilders.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/JavaRequestSpecificationBuilder.kt
  mokksy/src/jvmTest/java/dev/mokksy/mokksy/FormDataMatchingJavaIT.java
  mokksy/src/jvmTest/java/dev/mokksy/mokksy/MokksyServerJavaLifecycleIT.java
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/FormDataFieldMatchingIT.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/FormDataFileMatchingIT.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/FormDataMatchingIT.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/JavaFormDataBuildersTest.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/JavaRequestSpecificationBuilderTest.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/MokksyServerJavaLifecycleIT.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/request/FormDataBuildersTest.kt
Due: Mokksy (HTTP Mock Server)

ci: add publish-image workflow dispatch input to GHCR
  .github/workflows/gradle.yml
Due: none

feat: Update multipart api (#136)
  README.md
  gradle.properties
  mokksy/api/mokksy.api
  mokksy/api/mokksy.klib.api
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/AbstractDataPartSpecBuilder.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/BodySpec.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/ContentMatcher.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/FormData.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/RequestMatchers.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/RequestSpecification.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/RequestSpecificationMatching.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/utils/logger/HttpFormatter.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/JavaBodySpecBuilders.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/JavaFormDataBuilders.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/JavaRequestSpecificationBuilder.kt
  mokksy/src/jvmTest/java/dev/mokksy/mokksy/FormDataMatchingJavaIT.java
  mokksy/src/jvmTest/java/dev/mokksy/mokksy/FormMatchingJavaIT.java
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/DataMatchingIT.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/FileMatchingIT.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/FormDataFieldMatchingIT.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/FormDataFileMatchingIT.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/FormDataMatchingIT.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/FormMatchingIT.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/JavaBodySpecBuildersTest.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/JavaFormDataBuildersTest.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/JavaRequestSpecificationBuilderTest.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/request/BodySpecBuildersTest.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/request/FormDataBuildersTest.kt
  mokksy/src/jvmTest/resources/junit-platform.properties
Due: Mokksy (HTTP Mock Server)

Cleanup code
  README.md
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/AbstractDataPartSpecBuilder.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/BodySpec.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/BodySpecBuilders.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/BodySpecMatchers.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/JavaBodySpecBuilders.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/FormMatchingIT.kt
Due: Mokksy (HTTP Mock Server)

Improve tests
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/BodySpecMatchers.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/utils/logger/HttpFormatter.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/DataMatchingIT.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/FileMatchingIT.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/FormMatchingIT.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/request/BodySpecBuildersTest.kt
Due: Mokksy (HTTP Mock Server)

update readme
  Makefile
  README.md
Due: none

Path conditions:
  Mokksy (HTTP Mock Server): any of: mokksy/**
  Integration Tests: any of: integration-tests/**
