Repository mokksy/mokksy: changes, and which Codecov flags are due for each by the changed paths.
All: Mokksy (HTTP Mock Server), Integration Tests

fix: #61 colorize JSON response bodies for typed/ContentNegotiation responses
  mokksy/api/mokksy.api
  mokksy/api/mokksy.klib.api
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/MokksyServer.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/ServerConfiguration.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/RequestSpecificationMatching.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/response/ResponseDefinition.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/utils/highlight/Highlighting.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/utils/highlight/JsonElementHighlighter.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/utils/highlight/JsonStringHighlighter.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/utils/logger/HttpFormatter.kt
  mokksy/src/commonTest/kotlin/dev/mokksy/mokksy/utils/highlight/JsonElementHighlighterTest.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/utils/highlight/JsonStringHighlighterTest.kt
  mokksy/src/jvmTest/resources/simplelogger.properties
Due: Mokksy (HTTP Mock Server)

test: Add HttpFormatterTest
  mokksy/src/commonTest/kotlin/dev/mokksy/mokksy/utils/highlight/HighlightingTest.kt
  mokksy/src/commonTest/kotlin/dev/mokksy/mokksy/utils/highlight/JsonElementHighlighterTest.kt
  mokksy/src/commonTest/kotlin/dev/mokksy/mokksy/utils/logger/HttpFormatterTest.kt
  mokksy/src/jvmTest/resources/simplelogger.properties
Due: Mokksy (HTTP Mock Server)

docs: streamline AGENTS.md to improve readability and focus
  AGENTS.md
Due: none

Implement JSON-RPC serialization and deserialization framework
  mokksy/api/mokksy.api
  mokksy/api/mokksy.klib.api
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/jsonrpc/JSONRPCError.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/jsonrpc/JSONRPCErrorBuilder.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/jsonrpc/JSONRPCMessage.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/jsonrpc/JSONRPCMessageSerializer.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/jsonrpc/JSONRPCResponse.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/jsonrpc/JSONRPCResponseBuilder.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/jsonrpc/JSONRPCResponseSerializer.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/jsonrpc/RequestId.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/jsonrpc/RequestIdSerializer.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/serializers/SerializerUtils.kt
  mokksy/src/commonTest/kotlin/dev/mokksy/mokksy/jsonrpc/JSONRPCBuildersTest.kt
  mokksy/src/commonTest/kotlin/dev/mokksy/mokksy/jsonrpc/JSONRPCErrorTest.kt
  mokksy/src/commonTest/kotlin/dev/mokksy/mokksy/jsonrpc/JSONRPCMessageSerializerTest.kt
  mokksy/src/commonTest/kotlin/dev/mokksy/mokksy/jsonrpc/JSONRPCResponseSerializerTest.kt
  mokksy/src/commonTest/kotlin/dev/mokksy/mokksy/jsonrpc/JSONRPCTypedUseCaseTest.kt
  mokksy/src/commonTest/kotlin/dev/mokksy/mokksy/jsonrpc/RequestIdSerializerTest.kt
Due: Mokksy (HTTP Mock Server)

Align indentation across Kotlin DSL build scripts for consistency and readability.
  AGENTS.md
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/settings.gradle.kts
  buildSrc/src/main/kotlin/dokka-convention.gradle.kts
  buildSrc/src/main/kotlin/netty-convention.gradle.kts
  buildSrc/src/main/kotlin/publish-convention.gradle.kts
  buildSrc/src/main/kotlin/shadow-convention.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/Stub.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/response/ResponseDefinitionBuilders.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/utils/Base64Urls.kt
  settings.gradle.kts
Due: Mokksy (HTTP Mock Server)

fix dokka links
  buildSrc/src/main/kotlin/dokka-convention.gradle.kts
Due: none

Add SSE streaming support
  Makefile
  README.md
  buildSrc/build.gradle.kts
  buildSrc/settings.gradle.kts
  buildSrc/src/main/kotlin/dokka-convention.gradle.kts
  buildSrc/src/main/kotlin/netty-convention.gradle.kts
  buildSrc/src/main/kotlin/publish-convention.gradle.kts
  buildSrc/src/main/kotlin/shadow-convention.gradle.kts
  integration-tests/src/jvmTest/java/dev/mokksy/it/SseStreamingJavaIT.java
  mokksy/api/mokksy.api
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/JavaBuildingStep.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/JavaBuildingStepTest.kt
Due: Mokksy (HTTP Mock Server), Integration Tests

feat: #56 Add SSE streaming support (#71)
  Makefile
  README.md
  buildSrc/build.gradle.kts
  buildSrc/settings.gradle.kts
  buildSrc/src/main/kotlin/dokka-convention.gradle.kts
  buildSrc/src/main/kotlin/netty-convention.gradle.kts
  buildSrc/src/main/kotlin/publish-convention.gradle.kts
  buildSrc/src/main/kotlin/shadow-convention.gradle.kts
  integration-tests/src/jvmTest/java/dev/mokksy/it/SseStreamingJavaIT.java
  mokksy/api/mokksy.api
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/JavaBuildingStep.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/JavaBuildingStepTest.kt
Due: Mokksy (HTTP Mock Server), Integration Tests

#72 record request body
  mokksy/api/mokksy.api
  mokksy/api/mokksy.klib.api
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/RequestHandler.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/ServerConfiguration.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/RecordedRequest.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/RequestSpecificationMatching.kt
  mokksy/src/commonTest/kotlin/dev/mokksy/mokksy/request/RecordedRequestTest.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/RecordedRequestBodyIT.kt
Due: Mokksy (HTTP Mock Server)

#73 return diagnostic message on 404
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/RequestHandler.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/StubRegistry.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/NearMissResponse.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/RequestSpecification.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/RequestSpecificationMatching.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/NearMissIT.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/StubRegistryTest.kt
Due: Mokksy (HTTP Mock Server)

Remove max body capture size limit and related logic.
  mokksy/api/mokksy.api
  mokksy/api/mokksy.klib.api
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/RequestHandler.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/ServerConfiguration.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/RecordedRequest.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/RequestSpecificationMatching.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/RecordedRequestBodyIT.kt
Due: Mokksy (HTTP Mock Server)

Refactor `RecordedRequest`: Remove typed body support and streamline body handling logic.
  mokksy/api/mokksy.api
  mokksy/api/mokksy.klib.api
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/RequestHandler.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/RecordedRequest.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/RequestJournal.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/RequestSpecificationMatching.kt
  mokksy/src/commonTest/kotlin/dev/mokksy/mokksy/request/RecordedRequestTest.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/RecordedRequestBodyIT.kt
Due: Mokksy (HTTP Mock Server)

Add `findAllMatchedRequests` API and enhance request journaling
  mokksy/api/mokksy.api
  mokksy/api/mokksy.klib.api
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/MokksyServer.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/RequestHandler.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/RequestJournal.kt
  mokksy/src/commonTest/kotlin/dev/mokksy/mokksy/request/RequestJournalTest.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/RecordedRequestBodyIT.kt
Due: Mokksy (HTTP Mock Server)

Remove body size limits and reformat code for readability
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/RecordedRequest.kt
  mokksy/src/commonTest/kotlin/dev/mokksy/mokksy/request/RecordedRequestTest.kt
Due: Mokksy (HTTP Mock Server)

#72 record request body (#78)
  mokksy/api/mokksy.api
  mokksy/api/mokksy.klib.api
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/MokksyServer.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/RecordedRequest.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/RequestHandler.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/RequestJournal.kt
  mokksy/src/commonTest/kotlin/dev/mokksy/mokksy/request/RecordedRequestTest.kt
  mokksy/src/commonTest/kotlin/dev/mokksy/mokksy/request/RequestJournalTest.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/RecordedRequestBodyIT.kt
Due: Mokksy (HTTP Mock Server)

#53 Implement Mokksy IO Config: IoParallelism, IoThreadMode, and Tests
  AGENTS.md
  README.md
  gradle/libs.versions.toml
  mokksy/api/mokksy.api
  mokksy/build.gradle.kts
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/IoDispatcherFactory.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/IoParallelism.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/IoThreadMode.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/MokksyProperties.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/platform.jvm.kt
  mokksy/src/jvmMain/resources/mokksy.properties
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/IoDispatcherFactoryTest.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/IoParallelismTest.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/MokksyPropertiesTest.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/VirtualThreadsIT.kt
Due: Mokksy (HTTP Mock Server)

added feature of Support noop Journal with JournalMode.NONE (#83)
  README.md
  mokksy/Module.md
  mokksy/api/mokksy.api
  mokksy/api/mokksy.klib.api
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/MokksyServer.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/ServerConfiguration.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/RequestJournal.kt
  mokksy/src/commonTest/kotlin/dev/mokksy/mokksy/request/RequestJournalTest.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/VerifyJournalModeNoneIT.kt
Due: Mokksy (HTTP Mock Server)

Introduce `test-conventions` skill for Mokksy testing guidelines
  .claude/skills/test-conventions/SKILL.md
  .gitignore
  AGENTS.md
  CLAUDE.md
Due: none

dependencies: bump ktor to 3.3.3
  gradle/libs.versions.toml
Due: none

Add OkHttp dependency and improve response building
  integration-tests/build.gradle.kts
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/response/ResponseDefinitionBuilders.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/response/StreamResponseDefinition.kt
Due: Mokksy (HTTP Mock Server), Integration Tests

Refactoring (#97)
  gradle/libs.versions.toml
  integration-tests/build.gradle.kts
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/response/ResponseDefinitionBuilders.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/response/StreamResponseDefinition.kt
Due: Mokksy (HTTP Mock Server), Integration Tests

refactor: simplify response definition hierarchy
  Makefile
  mokksy/api/mokksy.api
  mokksy/api/mokksy.klib.api
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/Stub.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/StubRegistry.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/response/AbstractResponseDefinition.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/response/ResponseDefinition.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/response/ResponseDefinitionBuilders.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/response/SseStreamResponseDefinition.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/response/StreamResponseDefinition.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/JavaBuildingStepTest.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/TestHelpers.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/response/AbstractResponseDefinitionBuilderTest.kt
Due: Mokksy (HTTP Mock Server)

fix: adjust charset to UTF-8 in JavaResponseDefinitionBuilderTest contentType test
  Makefile
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/JavaResponseDefinitionBuilderTest.kt
Due: Mokksy (HTTP Mock Server)

refactor: integrate testApplication in JavaResponseDefinitionBuilderTest and JavaStreamingResponseDefinitionBuilderTest
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/JavaResponseDefinitionBuilderTest.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/JavaStreamingResponseDefinitionBuilderTest.kt
Due: Mokksy (HTTP Mock Server)

refactor: simplify response definition hierarchy (#99)
  Makefile
  mokksy/api/mokksy.api
  mokksy/api/mokksy.klib.api
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/Stub.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/StubRegistry.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/response/AbstractResponseDefinition.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/response/ResponseDefinition.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/response/ResponseDefinitionBuilders.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/response/SseStreamResponseDefinition.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/response/StreamResponseDefinition.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/JavaBuildingStepTest.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/JavaResponseDefinitionBuilderTest.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/JavaStreamingResponseDefinitionBuilderTest.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/TestHelpers.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/response/AbstractResponseDefinitionBuilderTest.kt
Due: Mokksy (HTTP Mock Server)

refactor: invert priority semantics so higher values win
  README.md
  integration-tests/src/commonTest/kotlin/dev/mokksy/it/MokksyIT.kt
  integration-tests/src/jvmTest/java/dev/mokksy/it/MokksyJavaIT.java
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/Stub.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/StubRegistry.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/RequestSpecification.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/JavaRequestSpecificationBuilder.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/StubComparatorTest.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/StubPriorityIT.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/StubRegistryTest.kt
Due: Mokksy (HTTP Mock Server), Integration Tests

Add `runIntegrationTest` utility and refactor MokksyIT tests for coroutine management
  gradle/libs.versions.toml
  integration-tests/build.gradle.kts
  integration-tests/src/commonMain/kotlin/dev/mokksy/it/TestUtils.kt
  integration-tests/src/commonTest/kotlin/dev/mokksy/it/MokksyIT.kt
Due: Integration Tests

feat: Enhance HTTP stubbing capabilities and introduce SSE event factory
  README.md
  integration-tests/src/jvmTest/java/dev/mokksy/it/MokksyJavaIT.java
  integration-tests/src/jvmTest/java/dev/mokksy/it/SseStreamingJavaIT.java
  mokksy/api/mokksy.api
  mokksy/api/mokksy.klib.api
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/StubConfiguration.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/Mokksy.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/JavaBuildingStep.kt
Due: Mokksy (HTTP Mock Server), Integration Tests

ci: Caching in GitHub Actions workflow
  .github/workflows/gradle.yml
Due: none

Add `SseEvent` and `SseEventBuilder` for Java-friendly SSE event creation
  .github/workflows/gradle.yml
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/SseEvent.kt
Due: Mokksy (HTTP Mock Server)

Add unit test for SseEventBuilder
  mokksy/src/jvmTest/java/dev/mokksy/mokksy/SseEventTest.kt
Due: Mokksy (HTTP Mock Server)

Update response status code in `combinedShortcuts_pathAndBodyAndStatus` test to 201
  integration-tests/src/jvmTest/java/dev/mokksy/it/MokksyJavaIT.java
Due: Integration Tests

improve readme
  README.md
Due: none

test: Refactor `SseEventTest`: Use `SseEvent.builder()` and add `data` shortcut test
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/SseEvent.kt
  mokksy/src/jvmTest/java/dev/mokksy/mokksy/SseEventTest.kt
Due: Mokksy (HTTP Mock Server)

feat: Enhance HTTP stubbing capabilities and introduce SSE event factory (#101)
  .github/workflows/gradle.yml
  README.md
  integration-tests/src/jvmTest/java/dev/mokksy/it/MokksyJavaIT.java
  integration-tests/src/jvmTest/java/dev/mokksy/it/SseStreamingJavaIT.java
  mokksy/api/mokksy.api
  mokksy/api/mokksy.klib.api
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/StubConfiguration.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/Mokksy.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/JavaBuildingStep.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/SseEvent.kt
  mokksy/src/jvmTest/java/dev/mokksy/mokksy/SseEventTest.kt
Due: Mokksy (HTTP Mock Server), Integration Tests

Release version 0.9.0
  gradle.properties
Due: none

0.9.1-SNAPSHOT
  gradle.properties
Due: none

Path conditions:
  Mokksy (HTTP Mock Server): any of: mokksy/**
  Integration Tests: any of: integration-tests/**
