Repository mokksy/mokksy: changes, and which Codecov flags are due for each by the changed paths.
All: Mokksy (HTTP Mock Server), Integration Tests

codecov.yml:

# Codecov configuration for Mokksy and AI-Mocks
# https://docs.codecov.com/docs/codecov-yaml

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 1%

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: mokksy
      name: Mokksy (HTTP Mock Server)
      paths:
        - mokksy/**
    - component_id: integration-tests
      name: Integration Tests
      paths:
        - integration-tests/**

Make `build` method final, simplify constructors in response definition builders
  mokksy/api/mokksy.api
  mokksy/api/mokksy.klib.api
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/BuildingStep.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/response/ResponseDefinitionBuilders.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/response/AbstractResponseDefinitionBuilderTest.kt
Due: Mokksy (HTTP Mock Server)

Add reified overload for MokksyServer methods
  mokksy/api/mokksy.klib.api
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/MokksyServerExtensions.kt
Due: Mokksy (HTTP Mock Server)

Add ReifiedMethodsIT integration tests
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/ReifiedMethodsIT.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/TypesafeMethodsIT.kt
Due: Mokksy (HTTP Mock Server)

Use `addHeader` method in tests for more clarity
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/BodyMatchingIT.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/BodyNotMatchingIT.kt
Due: Mokksy (HTTP Mock Server)

Update README.md with typed request body section
  README.md
Due: none

chore: Refactor Makefile to separate Gradle tasks, include icon in .idea directory
  .gitignore
  .idea/icon.png
  Makefile
Due: none

test: enhance server methods integration tests
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/MokksyServerMethods.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/MokksyServerMethodsIT.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/ReifiedMethodsIT.kt
Due: Mokksy (HTTP Mock Server)

chore: update minimum value for verification rule in build.gradle.kts to 80
  build.gradle.kts
Due: none

docs: update Kotlin guidelines with readability and simplicity considerations
  AGENTS.md
Due: none

Update mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/RequestSpecification.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/RequestSpecification.kt
Due: Mokksy (HTTP Mock Server)

Enhance documentation for MokksyServer methods with detailed usage examples and parameter descriptions; remove unnecessary @PublishedApi annotations from response definition builders.
  AGENTS.md
  mokksy/api/mokksy.api
  mokksy/api/mokksy.klib.api
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/MokksyServerMethods.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/RequestSpecification.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/response/ResponseDefinitionBuilders.kt
Due: Mokksy (HTTP Mock Server)

test: fix order of shutdown for server and client in AbstractIT; update Gradle YAML for task separation
  .github/workflows/gradle.yml
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/AbstractIT.kt
Due: Mokksy (HTTP Mock Server)

test: utilize `BeforeEach` instead of `BeforeTest` and refactor seed initialization in integration tests
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/MokksyServerMethodsIT.kt
Due: Mokksy (HTTP Mock Server)

Add MokksyDsl annotation for DSL scoping
  mokksy/api/mokksy.api
  mokksy/api/mokksy.klib.api
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/MokksyDsl.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/RequestSpecification.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/response/ResponseDefinitionBuilders.kt
Due: Mokksy (HTTP Mock Server)

bump: update project version to 0.8.2-SNAPSHOT
  gradle.properties
Due: none

refactor: improve stub matching specificity and error handling
  README.md
  mokksy/api/mokksy.api
  mokksy/api/mokksy.klib.api
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/RequestHandler.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/StubRegistry.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/RecordedRequest.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/RequestSpecification.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/RequestSpecificationMatching.kt
  mokksy/src/commonTest/kotlin/dev/mokksy/mokksy/request/RequestJournalTest.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/BodyNotMatchingIT.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/StubRegistryTest.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/StubSpecificityIT.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/request/RequestJournalStressTest.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/request/RequestSpecificationTest.kt
Due: Mokksy (HTTP Mock Server)

docs: update README to improve `respondsWith` example
  README.md
Due: none

chore: adjust `minValue` in build config and refine Makefile clean-up task
  Makefile
  build.gradle.kts
Due: none

refactor: simplify stub registration in `BuildingStepTest`
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/BuildingStepTest.kt
Due: Mokksy (HTTP Mock Server)

refactor: remove unused `StubRegistry.remove` method
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/StubRegistry.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/StubRegistryTest.kt
Due: Mokksy (HTTP Mock Server)

refactor: rename `removeAfterMatch` to `eventuallyRemove` and improve stub removal logic
  mokksy/api/mokksy.api
  mokksy/api/mokksy.klib.api
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/MokksyServer.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/Stub.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/StubConfiguration.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/StubRegistry.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/RemoveAfterUseIT.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/StubRegistryTest.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/TestHelpers.kt
Due: Mokksy (HTTP Mock Server)

refactor: rename `resetMatchCounts` to `resetMatchState` and update related logic
  Makefile
  README.md
  mokksy/api/mokksy.api
  mokksy/api/mokksy.klib.api
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/MokksyServer.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/Stub.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/MokksyServerJava.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/BuildingStepTest.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/MokksyServerIT.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/MokksyServerJavaTest.kt
Due: Mokksy (HTTP Mock Server)

refactor: improve logging, exception handling, and test cleanup
  detekt.yml
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/BuildingStep.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/RequestHandler.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/Stub.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/BuildingStepTest.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/ShortcutMethodsIT.kt
Due: Mokksy (HTTP Mock Server)

refactor: add deprecation warnings and update verbosity in tests
  Makefile
  mokksy/api/mokksy.api
  mokksy/api/mokksy.klib.api
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/StubConfiguration.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/MokksyServerJava.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/StubRegistryTest.kt
Due: Mokksy (HTTP Mock Server)

update tests
  .github/workflows/gradle.yml
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/StubRegistryTest.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/TestHelpers.kt
Due: Mokksy (HTTP Mock Server)

feat: add Java-friendly builders for request/response definitions
  build.gradle.kts
  integration-tests/build.gradle.kts
  integration-tests/src/jvmTest/java/dev/mokksy/it/MokksyJavaIT.java
  mokksy/api/mokksy.api
  mokksy/api/mokksy.klib.api
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/StubConfiguration.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/response/ResponseDefinitionBuilders.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/JavaBuildingStep.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/JavaRequestSpecificationBuilder.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/JavaResponseDefinitionBuilder.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/MokksyServerJava.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/MokksyServerJavaLifecycleIT.kt
Due: Mokksy (HTTP Mock Server), Integration Tests

refactor!: replace `MokksyServerJava` with `Mokksy`, streamline API for Java and Kotlin interop
  Makefile
  README.md
  integration-tests/src/jvmTest/java/dev/mokksy/it/MokksyJavaIT.java
  mokksy/api/mokksy.api
  mokksy/api/mokksy.klib.api
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/Mokksy.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/MokksyServer.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/Mokksy.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/Mokksy.jvm.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/MokksyServer.jvm.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/AbstractIT.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/MokksyServerIT.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/MokksyServerJavaLifecycleIT.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/MokksyServerJavaTest.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/VerifyMethodsIT.kt
  mokksy/src/jvmTest/resources/junit-platform.properties
  mokksy/src/nativeMain/kotlin/dev/mokksy/mokksy/Mokksy.native.kt
  mokksy/src/webMain/kotlin/dev/mokksy/mokksy/Mokksy.web.kt
Due: Mokksy (HTTP Mock Server), Integration Tests

feat: add platform-specific shutdown hooks for graceful server termination
  integration-tests/src/commonTest/kotlin/dev/mokksy/it/MokksyIT.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/MokksyServer.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/ShutdownHook.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/Mokksy.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/ShutdownHook.jvm.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/jackson/JacksonSerializationIT.kt
  mokksy/src/nativeMain/kotlin/dev/mokksy/mokksy/ShutdownHook.native.kt
  mokksy/src/webMain/kotlin/dev/mokksy/mokksy/ShutdownHook.web.kt
Due: Mokksy (HTTP Mock Server), Integration Tests

feat: add `configurer` parameter to `Mokksy` for custom Ktor `Application` configuration
  AGENTS.md
  Makefile
  README.md
  mokksy/api/mokksy.api
  mokksy/api/mokksy.klib.api
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/Mokksy.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/MokksyServer.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/Mokksy.jvm.kt
  mokksy/src/nativeMain/kotlin/dev/mokksy/mokksy/Mokksy.native.kt
  mokksy/src/webMain/kotlin/dev/mokksy/mokksy/Mokksy.web.kt
Due: Mokksy (HTTP Mock Server)

feat: add Jackson integration and experimental annotations
  AGENTS.md
  README.md
  integration-tests/build.gradle.kts
  integration-tests/src/jvmTest/java/dev/mokksy/it/MokksyJacksonJavaIT.java
  mokksy/api/mokksy.api
  mokksy/api/mokksy.klib.api
  mokksy/build.gradle.kts
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/Annotations.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/MokksyDsl.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/MokksyJackson.kt
Due: Mokksy (HTTP Mock Server), Integration Tests

refactor: update references to `MokksyServerJava` with `dev.mokksy.Mokksy`
  README.md
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/StubConfiguration.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/JavaBuildingStep.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/JavaRequestSpecificationBuilder.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/MokksyServer.jvm.kt
Due: Mokksy (HTTP Mock Server)

feat: validate Jackson runtime availability during `Mokksy` creation
  mokksy/src/jvmMain/kotlin/dev/mokksy/Mokksy.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/MokksyJackson.kt
Due: Mokksy (HTTP Mock Server)

test: add extensive unit tests for Java-specific builders and response definition handling
  build.gradle.kts
  codecov.yml
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/JavaBuildingStepTest.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/JavaRequestSpecificationBuilderTest.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/JavaResponseDefinitionBuilderTest.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/MokksyServerIT.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/MokksyServerJavaLifecycleIT.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/ShortcutMethodsIT.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/StubConfigurationTest.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/response/AbstractResponseDefinitionBuilderTest.kt
Due: Mokksy (HTTP Mock Server)

docs: improve `AGENTS.md`
  AGENTS.md
  README.md
Due: none

feat: add `unregisterShutdownHook` for improved server lifecycle management
  README.md
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/MokksyServer.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/ShutdownHook.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/ShutdownHook.jvm.kt
  mokksy/src/nativeMain/kotlin/dev/mokksy/mokksy/ShutdownHook.native.kt
  mokksy/src/webMain/kotlin/dev/mokksy/mokksy/ShutdownHook.web.kt
Due: Mokksy (HTTP Mock Server)

test: update JUnit parallel execution settings and adjust default timeouts
  mokksy/src/jvmTest/resources/junit-platform.properties
Due: Mokksy (HTTP Mock Server)
