Repository mokksy/mokksy: changes, and which Codecov flags are due for each by the changed paths.
All: Mokksy (HTTP Mock Server), Integration Tests

codecov.yml:

# Codecov configuration for Mokksy and AI-Mocks
# https://docs.codecov.com/docs/codecov-yaml

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 1%

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: mokksy
      name: Mokksy (HTTP Mock Server)
      paths:
        - mokksy/**
    - component_id: integration-tests
      name: Integration Tests
      paths:
        - integration-tests/**

feat: Update multipart api (#136) (#146)
  Makefile
  README.md
  gradle.properties
  mokksy/api/mokksy.api
  mokksy/api/mokksy.klib.api
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/AbstractDataPartSpecBuilder.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/BodySpec.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/BodySpecBuilders.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/BodySpecMatchers.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/ContentMatcher.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/FormData.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/RequestMatchers.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/RequestSpecification.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/RequestSpecificationMatching.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/utils/logger/HttpFormatter.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/JavaBodySpecBuilders.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/JavaFormDataBuilders.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/JavaRequestSpecificationBuilder.kt
  mokksy/src/jvmTest/java/dev/mokksy/mokksy/FormDataMatchingJavaIT.java
  mokksy/src/jvmTest/java/dev/mokksy/mokksy/FormMatchingJavaIT.java
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/DataMatchingIT.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/FileMatchingIT.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/FormDataFieldMatchingIT.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/FormDataFileMatchingIT.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/FormDataMatchingIT.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/FormMatchingIT.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/JavaBodySpecBuildersTest.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/JavaFormDataBuildersTest.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/JavaRequestSpecificationBuilderTest.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/request/BodySpecBuildersTest.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/request/FormDataBuildersTest.kt
  mokksy/src/jvmTest/resources/junit-platform.properties
Due: Mokksy (HTTP Mock Server)

feat: Add stub match count tracking and StubHandle API (#145)
  README.md
  integration-tests/src/commonTest/kotlin/dev/mokksy/it/MokksyIT.kt
  integration-tests/src/jvmTest/java/dev/mokksy/it/MokksyJavaIT.java
  mokksy/api/mokksy.api
  mokksy/api/mokksy.klib.api
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/BuildingStep.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/MokksyServer.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/Stub.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/StubConfiguration.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/StubHandle.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/Mokksy.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/JavaBuildingStep.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/MokksyServer.jvm.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/StubConfigurationTest.kt
Due: Mokksy (HTTP Mock Server), Integration Tests

feat: Replace verifyStubCalled with StubHandle.verifyCalled builder (#145)
  README.md
  integration-tests/src/commonTest/kotlin/dev/mokksy/it/MokksyIT.kt
  integration-tests/src/jvmTest/java/dev/mokksy/it/MokksyJavaIT.java
  mokksy/api/mokksy.api
  mokksy/api/mokksy.klib.api
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/MokksyServer.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/StubHandle.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/Mokksy.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/JavaBuildingStep.kt
Due: Mokksy (HTTP Mock Server), Integration Tests

feat: rename findStub to getStub and make lookup strict
  README.md
  integration-tests/src/commonTest/kotlin/dev/mokksy/it/MokksyIT.kt
  integration-tests/src/jvmTest/java/dev/mokksy/it/MokksyJavaIT.java
  mokksy/api/mokksy.api
  mokksy/api/mokksy.klib.api
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/MokksyServer.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/StubHandle.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/Mokksy.kt
  mokksy/src/jvmTest/java/dev/mokksy/mokksy/MokksyServerJavaLifecycleIT.java
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/MokksyServerIT.kt
Due: Mokksy (HTTP Mock Server), Integration Tests

Add StubHandleTest
  integration-tests/src/jvmTest/java/dev/mokksy/it/MokksyJavaIT.java
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/StubHandleTest.kt
Due: Mokksy (HTTP Mock Server), Integration Tests

feat: Stub match count tracking and StubHandle verification API (#145) (#147)
  README.md
  integration-tests/src/commonTest/kotlin/dev/mokksy/it/MokksyIT.kt
  integration-tests/src/jvmTest/java/dev/mokksy/it/MokksyJavaIT.java
  mokksy/api/mokksy.api
  mokksy/api/mokksy.klib.api
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/BuildingStep.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/MokksyServer.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/Stub.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/StubConfiguration.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/StubHandle.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/Mokksy.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/JavaBuildingStep.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/MokksyServer.jvm.kt
  mokksy/src/jvmTest/java/dev/mokksy/mokksy/MokksyServerJavaLifecycleIT.java
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/MokksyServerIT.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/StubConfigurationTest.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/StubHandleTest.kt
Due: Mokksy (HTTP Mock Server), Integration Tests

0.10.0
  gradle.properties
Due: none

feat: extract isJsonContentType, add registerJsonContentType and Java String overloads
  AGENTS.md
  gradle.properties
  mokksy/api/mokksy.api
  mokksy/api/mokksy.klib.api
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/utils/highlight/Highlighting.kt
  mokksy/src/commonTest/kotlin/dev/mokksy/mokksy/utils/highlight/HighlightingTest.kt
Due: Mokksy (HTTP Mock Server)

Add formatting tests
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/utils/logger/HttpFormatter.kt
  mokksy/src/commonTest/kotlin/dev/mokksy/mokksy/utils/logger/HttpFormatterTest.kt
Due: Mokksy (HTTP Mock Server)

Add formatting tests
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/utils/highlight/Highlighting.kt
Due: Mokksy (HTTP Mock Server)

perf: reduce allocations in HttpFormatter, JsonElementHighlighter, FormParamsHighlighter
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/utils/highlight/FormParamsHighlighter.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/utils/highlight/JsonElementHighlighter.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/utils/logger/HttpFormatter.kt
Due: Mokksy (HTTP Mock Server)

perf: eliminate duplicate isJsonContentType call per String body in formatBody
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/utils/logger/HttpFormatter.kt
Due: Mokksy (HTTP Mock Server)

feat: extract isJsonContentType, add registerJsonContentType and Java… (#149)
  AGENTS.md
  gradle.properties
  mokksy/api/mokksy.api
  mokksy/api/mokksy.klib.api
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/utils/highlight/FormParamsHighlighter.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/utils/highlight/Highlighting.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/utils/highlight/JsonElementHighlighter.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/utils/logger/HttpFormatter.kt
  mokksy/src/commonTest/kotlin/dev/mokksy/mokksy/utils/highlight/HighlightingTest.kt
  mokksy/src/commonTest/kotlin/dev/mokksy/mokksy/utils/logger/HttpFormatterTest.kt
Due: Mokksy (HTTP Mock Server)

0.10.1
  gradle.properties
Due: none

0.10.2
  gradle.properties
Due: none

Use stream content type for chunk logging
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/response/StreamResponseDefinition.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/response/StreamResponseDefinitionTest.kt
Due: Mokksy (HTTP Mock Server)

Add cookie matching and split integration tests
  README.md
  integration-tests/src/commonTest/kotlin/dev/mokksy/it/HttpMethodsIT.kt
  integration-tests/src/commonTest/kotlin/dev/mokksy/it/MokksyIT.kt
  integration-tests/src/commonTest/kotlin/dev/mokksy/it/MokksyITFixture.kt
  integration-tests/src/commonTest/kotlin/dev/mokksy/it/RequestMatchingIT.kt
  integration-tests/src/commonTest/kotlin/dev/mokksy/it/StubSelectionIT.kt
  integration-tests/src/commonTest/kotlin/dev/mokksy/it/StubVerificationIT.kt
  integration-tests/src/jvmTest/java/dev/mokksy/it/CookieMatchingJavaIT.java
  mokksy/api/mokksy.api
  mokksy/api/mokksy.klib.api
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/RequestMatchers.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/RequestSpecification.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/RequestSpecificationMatching.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/JavaRequestSpecificationBuilder.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/JavaRequestSpecificationBuilderTest.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/TypesafeMethodsIT.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/request/RequestSpecificationTest.kt
Due: Mokksy (HTTP Mock Server), Integration Tests

Update integration test utilities
  README.md
  integration-tests/src/commonMain/kotlin/dev/mokksy/it/TestUtils.kt
  integration-tests/src/commonTest/kotlin/dev/mokksy/it/MokksyITFixture.kt
Due: Integration Tests

add test
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/request/RequestMatchersKtTest.kt
Due: Mokksy (HTTP Mock Server)

Cookie support in file configs
  integration-tests/src/jvmTest/java/dev/mokksy/it/AbstractFileConfigIT.java
  integration-tests/src/jvmTest/resources/it-stubs.yaml
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/config/MokksyFileConfig.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/config/StubConfigLoader.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/config/MokksyFileConfigTest.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/config/StubFileConfigIT.kt
  mokksy/src/jvmTest/resources/test-stubs.yaml
Due: Mokksy (HTTP Mock Server), Integration Tests

address review comments
  mokksy/src/commonTest/kotlin/dev/mokksy/mokksy/request/RequestMatchersKtTest.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/config/StubConfigLoader.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/request/RequestMatchersKtTest.kt
Due: Mokksy (HTTP Mock Server)

fix test fixture
  integration-tests/src/commonTest/kotlin/dev/mokksy/it/MokksyITFixture.kt
Due: Integration Tests

#154 Add cookie matching
  README.md
  integration-tests/src/commonMain/kotlin/dev/mokksy/it/TestUtils.kt
  integration-tests/src/commonTest/kotlin/dev/mokksy/it/HttpMethodsIT.kt
  integration-tests/src/commonTest/kotlin/dev/mokksy/it/MokksyIT.kt
  integration-tests/src/commonTest/kotlin/dev/mokksy/it/MokksyITFixture.kt
  integration-tests/src/commonTest/kotlin/dev/mokksy/it/RequestMatchingIT.kt
  integration-tests/src/commonTest/kotlin/dev/mokksy/it/StubSelectionIT.kt
  integration-tests/src/commonTest/kotlin/dev/mokksy/it/StubVerificationIT.kt
  integration-tests/src/jvmTest/java/dev/mokksy/it/AbstractFileConfigIT.java
  integration-tests/src/jvmTest/java/dev/mokksy/it/CookieMatchingJavaIT.java
  integration-tests/src/jvmTest/resources/it-stubs.yaml
  mokksy/api/mokksy.api
  mokksy/api/mokksy.klib.api
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/RequestMatchers.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/RequestSpecification.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/RequestSpecificationMatching.kt
  mokksy/src/commonTest/kotlin/dev/mokksy/mokksy/request/RequestMatchersKtTest.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/JavaRequestSpecificationBuilder.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/config/MokksyFileConfig.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/config/StubConfigLoader.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/JavaRequestSpecificationBuilderTest.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/TypesafeMethodsIT.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/config/MokksyFileConfigTest.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/config/StubFileConfigIT.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/request/RequestMatchersKtTest.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/request/RequestSpecificationTest.kt
  mokksy/src/jvmTest/resources/test-stubs.yaml
Due: Mokksy (HTTP Mock Server), Integration Tests

Add onResponseReady/RequestListener callback to MokksyServer
  mokksy/api/mokksy.api
  mokksy/api/mokksy.klib.api
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/MokksyServer.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/RequestListener.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/Stub.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/RequestHandler.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/response/AbstractResponseDefinition.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/Mokksy.kt
  mokksy/src/jvmTest/java/dev/mokksy/mokksy/MokksyServerJavaListenerIT.java
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/MokksyServerIT.kt
Due: Mokksy (HTTP Mock Server)

cleanup
  codecov.yml
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/utils/Base64Urls.jvm.kt
  mokksy/src/jvmTest/java/dev/mokksy/mokksy/MokksyServerJavaLifecycleIT.java
  mokksy/src/jvmTest/java/dev/mokksy/mokksy/MokksyServerJavaListenerIT.java
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/JavaRequestSpecificationBuilderTest.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/MokksySseIT.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/utils/highlight/JsonStringHighlighterTest.kt
Due: Mokksy (HTTP Mock Server)

Add onResponseReady/RequestListener callback to MokksyServer (#153) (#166)
  codecov.yml
  mokksy/api/mokksy.api
  mokksy/api/mokksy.klib.api
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/MokksyServer.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/RequestListener.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/Stub.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/RequestHandler.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/response/AbstractResponseDefinition.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/Mokksy.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/utils/Base64Urls.jvm.kt
  mokksy/src/jvmTest/java/dev/mokksy/mokksy/MokksyServerJavaLifecycleIT.java
  mokksy/src/jvmTest/java/dev/mokksy/mokksy/MokksyServerJavaListenerIT.java
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/JavaRequestSpecificationBuilderTest.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/MokksyServerIT.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/MokksySseIT.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/utils/highlight/JsonStringHighlighterTest.kt
Due: Mokksy (HTTP Mock Server)

feat: #74 more stub lookup methods
  integration-tests/src/commonTest/kotlin/dev/mokksy/it/StubVerificationIT.kt
  integration-tests/src/jvmTest/java/dev/mokksy/it/MokksyJavaStubLookupIT.java
  mokksy/api/mokksy.api
  mokksy/api/mokksy.klib.api
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/MokksyServer.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/Stub.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/StubHandle.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/StubPredicate.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/StubRegistry.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/Mokksy.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/BodyMatchingIT.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/BuildingStepTest.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/MokksyServerIT.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/StubHandleTest.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/StubRegistryTest.kt
Due: Mokksy (HTTP Mock Server), Integration Tests

docs: update readme for lookup methods
  README.md
Due: none

refactor: address PR comments
  integration-tests/src/jvmTest/java/dev/mokksy/it/MokksyJavaStubLookupIT.java
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/StubRegistry.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/Mokksy.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/MokksyServerIT.kt
Due: Mokksy (HTTP Mock Server), Integration Tests

feat: #74 more stub lookup methods (#172)
  README.md
  integration-tests/src/commonTest/kotlin/dev/mokksy/it/StubVerificationIT.kt
  integration-tests/src/jvmTest/java/dev/mokksy/it/MokksyJavaStubLookupIT.java
  mokksy/api/mokksy.api
  mokksy/api/mokksy.klib.api
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/MokksyServer.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/Stub.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/StubHandle.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/StubPredicate.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/StubRegistry.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/Mokksy.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/BodyMatchingIT.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/BuildingStepTest.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/MokksyServerIT.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/StubHandleTest.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/StubRegistryTest.kt
Due: Mokksy (HTTP Mock Server), Integration Tests

Change license to Apache 2.0
  LICENSE
Due: none

feat: verbose 404 diagnostic response with typed matchers (#73)
  .github/workflows/gradle.yml
  buildSrc/settings.gradle.kts
  buildSrc/src/main/kotlin/shadow-convention.gradle.kts
  mokksy/api/mokksy.api
  mokksy/api/mokksy.klib.api
  mokksy/build.gradle.kts
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/Annotations.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/StubLookupResult.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/StubRegistry.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/BodySpecMatchers.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/DiagnosticLogger.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/DiagnosticResponse.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/FailedMatcherDescriptor.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/MatcherCategory.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/RequestHandler.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/RequestInfoExtractor.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/RequestMatchers.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/RequestSpecification.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/RequestSpecificationMatching.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/StubMatchResultFactory.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/utils/logger/HttpFormatter.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/AbstractIT.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/BodyDiagnosticIT.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/BodyNotMatchingIT.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/NonVerboseNotFoundIT.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/StubRegistryTest.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/request/DiagnosticLoggerTest.kt
Due: Mokksy (HTTP Mock Server)

feat: verbose 404 diagnostic response with typed matchers (#73) (#173)
  .github/workflows/gradle.yml
  buildSrc/settings.gradle.kts
  buildSrc/src/main/kotlin/shadow-convention.gradle.kts
  mokksy/api/mokksy.api
  mokksy/api/mokksy.klib.api
  mokksy/build.gradle.kts
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/Annotations.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/StubLookupResult.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/StubRegistry.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/BodySpecMatchers.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/DiagnosticLogger.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/DiagnosticResponse.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/FailedMatcherDescriptor.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/MatcherCategory.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/RequestHandler.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/RequestInfoExtractor.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/RequestMatchers.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/RequestSpecification.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/RequestSpecificationMatching.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/request/StubMatchResultFactory.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/utils/logger/HttpFormatter.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/AbstractIT.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/BodyDiagnosticIT.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/BodyNotMatchingIT.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/NonVerboseNotFoundIT.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/StubRegistryTest.kt
  mokksy/src/jvmTest/kotlin/dev/mokksy/mokksy/request/DiagnosticLoggerTest.kt
Due: Mokksy (HTTP Mock Server)

apply gradle best practices
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/docker-convention.gradle.kts
  buildSrc/src/main/kotlin/dokka-convention.gradle.kts
  buildSrc/src/main/kotlin/kotlin-multiplatform-convention.gradle.kts
  buildSrc/src/main/kotlin/netty-convention.gradle.kts
  buildSrc/src/main/kotlin/publish-convention.gradle.kts
  integration-tests/build.gradle.kts
  mokksy/build.gradle.kts
Due: Mokksy (HTTP Mock Server), Integration Tests

feat: #77 configurable timeout for awaitStarted() — withTimeoutOrNull, ApplicationStarted on JVM
  Makefile
  buildSrc/src/main/kotlin/publish-convention.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  integration-tests/src/commonTest/kotlin/dev/mokksy/it/AwaitStartedIT.kt
  mokksy/api/mokksy.api
  mokksy/api/mokksy.klib.api
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/MokksyServer.kt
  mokksy/src/commonMain/kotlin/dev/mokksy/mokksy/platform.kt
  mokksy/src/commonTest/kotlin/dev/mokksy/mokksy/MokksyServerTest.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/Mokksy.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/MokksyServer.jvm.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/platform.jvm.kt
  mokksy/src/jvmMain/kotlin/dev/mokksy/mokksy/utils/Base64Urls.jvm.kt
  mokksy/src/nativeMain/kotlin/dev/mokksy/mokksy/platform.native.kt
  mokksy/src/webMain/kotlin/dev/mokksy/mokksy/platform.web.kt
Due: Mokksy (HTTP Mock Server), Integration Tests

version=0.11.0-SNAPSHOT
  gradle.properties
Due: none

publish workflow
  .github/workflows/publish.yml
Due: none
